.caption {
  font-weight: 400;

  & + .caption {
    margin-top: 19px;
  }
}

.caption--two {
  font-size: 64px;
  line-height: 72px;
  text-transform: uppercase;
}

.caption--two--inner {
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
}

.caption--three {
  font-size: 28px;
  font-weight: 400;
}
